<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ccms2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/light"
        android:label="@string/app_name"
        android:roundIcon="@drawable/light"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HistoryActivity"
            android:label="PREVIOUS REPORTS" />

        <activity
            android:name=".ReportActivity"
            android:label="REPORT IT" />

        <activity
            android:name=".DashboardActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">

        </activity>
    </application>

</manifest>